/*
* MAIN CSS
*/

#page-content {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 99%, rgba(118, 118, 118, 0.279) 100%);
}

#page-content a {
    color:#427e4a;
    font-weight:600;
    text-decoration:underline;
    transition:0.3s;
}

#page-content a:hover {
    color:#4fba5d;
}

body {
    font-family:'Open Sans';
    opacity: 0;
    transition: opacity 1s;
}

li {
    font-size:16px;
}

.centered-items {
    display:flex;
    justify-content:center;
    align-items:center;
}

.img-border {
    border: 3px solid #ddd;
}

.carousel-inner h3 {
    text-shadow: 1px 1px 3px #000;
}

.item img{
    max-height: 512px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-size:18px;
    margin-bottom:20px;
}

h2 {
    font-weight:600;
    color:#3f6344;
    font-size:26px;
}

span {
    font-size: 16px;
}

hr {
    margin-top:40px;
}

.banner {
    background-image: linear-gradient(to bottom, rgba(33, 39, 31, 0.387), rgba(38, 51, 38, 0.302)), url("/images/banner1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: #fff;
}

.banner h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #000;
    font-family: 'Oxygen';
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-weight:600;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#d3d3d3, #aeaeae);
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/*
* HEADER CSS
*/

.logo {
    max-width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo:hover {
    -webkit-filter: drop-shadow(0 0 0.5rem grey);
    transition: 0.3s;
}

.navigation {
    background-color: rgb(43 48 37);;
}

.navigation-mobile {
    background-color: rgb(43 48 37);;
    height:10px;
    padding-bottom:40px;
}

.mobile-nav-container{
    width: 100%;
}

.mobile-nav-text{
    color: #FFF;
    font-family: 'Oxygen';
    font-size:20px;
    margin-right:10px;
}

.mobile-nav-row{
    display: flex;
    justify-content: space-between;
}

.navigation a {
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Oxygen';
    font-weight: 400;
    transition: 0.3s;
    font-size: 20px;
}

.navigation a:hover {
    color: #9cb696;
    text-decoration: none;
}

.dropdown-content a:hover{
    color:#398738;
}

/*
* FOOTER CSS
*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer span {
    font-size:14px;
}

.footer {
    background: #212121;
    color: #fff;
}

.social-icons {
    width: 5%;
    margin-right: 3px;
}

.social-icons:hover {
    -webkit-filter: drop-shadow(0 0 1px white);
    transition: 0.2s;
}

.social-container {
    text-align: right;
}

a:hover {
    text-decoration: none;
}

#footer-placeholder {
    margin-top:40px;
}

.footer-container {
    margin-right: 5px;
    width: 100%;
}

.footer-text {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .social-container {
        text-align: center;
    }

    .social-icons {
        width: 8%;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        -webkit-filter: drop-shadow(0 0 1px white);
    }

    .mobile-footer-text {
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}